.cycles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.cycleDots {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.cycleDot {
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
  border-radius: 50%;
}
.worktime {
  background: var(--warning);
}
.longBreakTime {
  background: var(--info);
}
.shortBreakTime {
  background: var(--primary);
}
